.aboutContent {
  display: flex;
  gap: 1em;

  color: white;
  z-index: 10;
}

@media (max-width: 700px) {
  .sectionTitle {
    visibility: hidden;
    display: none;
  }

  .sectionContainer {
    background: none !important;
    padding-block: 1em !important;
    font-family: "protest strike";
  }

  .sectionContainer::before {
    background: none !important;
  }
}
