.faqContainer {
  display: flex;
  z-index: 100;
  align-items: center;
  gap: 2em;
}

.faq-header {
  text-align: center;
  z-index: 100;
}

.faq-title {
  font-size: 48px;
  font-weight: bold;

  line-height: 1.2;
}

.faq-items {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  flex-grow: 1;

  z-index: 100;
  width: 100%;
}

.faq-item {
  border-radius: 1.5em;
  overflow: hidden;
  background-color: var(--offWhite);
}

.faq-question {
  width: 100%;
  padding: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--colorOrange);
  font-family: "protest strike";
}

.faq-question:hover {
  background-color: var(--colorOrange);
  color: var(--offWhite);
}

.faq-icon {
  margin-left: 16px;
  font-size: 20px;
  display: inline-block;
}

.faq-answer-container {
  overflow: hidden;
  padding-inline: 1em;
}

@media (max-width: 768px) {
  .faqContainer {
    flex-direction: column;
    gap: 0.5em;
  }

  .faq-title {
    font-size: 36px;
  }

  .faq-header {
    margin-bottom: 32px;
  }
}
