footer {
  width: 100%;
  height: 30em;
  background: linear-gradient(to top, black, transparent);
  position: relative;
  overflow: hidden;
}

.footer-text-container {
  position: absolute;
  bottom: -0.4em; /* Slight adjustment to ensure text sits right at the bottom */
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 1;
}

.footer-letter {
  position: relative;
  font-family: "protest strike", sans-serif;
  font-size: min(40vw, 13em);
  color: var(--offWhite);
  /* color: black; */
  display: inline-block;
  cursor: pointer;
  line-height: 0.8; /* This helps control the vertical positioning */
}
@media (min-width: 1800px) {
  .footer-letter {
    font-size: 16.5em;
  }
}
