@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swaps");

.container {
  width: 100vw;
  position: fixed;
  top: 0em;
  left: 0;
  z-index: 9999;
  padding-top: 0.5em;
}

.items {
  margin: 0%;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 6em;
  font-weight: 700;
  color: var(--offWhite);
  text-shadow: black 10;
  text-decoration: none;
  font-size: 1.3vw;
  justify-content: space-between;
  font-family: "Protest Strike";

  position: relative;
  align-items: center;

  padding-inline: 2.5em;
}

.svgFists {
  display: flex;
  gap: 0.3em;
}

.popupMenuContainer {
  position: absolute;
  right: 4em;
  right: 2.5em;
  top: calc(50% - 27.5px - 0.5em);
}
.hamburgerMenuIcon {
  cursor: pointer;

  display: flex;

  background-color: var(--colorOrange);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  width: 55px;
  height: 55px;
  justify-content: center;

  align-items: center;
  z-index: 100;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.hamburgerMenuIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bkBrown);
  transition: width 0.2s ease-in-out;
}

.hamburgerMenuIcon:hover::before {
  width: 100%;
}

.hamburgerMenuIcon:hover {
  background-color: black;
}

li:hover {
  cursor: pointer;
  color: var(--colorOrange);
  transition: color 0.3s ease;
}

.menuItems {
  display: flex;
  flex-direction: row;

  gap: 2em;
}

@media (max-width: 700px) {
  .container {
    padding-top: 2em;
    height: 10vh;
    position: fixed;
    top: 0em;
  }
  .popupMenuContainer {
    right: 1.5em;
  }

  .hamburgerMenuIcon {
    top: 1em;
    right: 1em;
  }
}

.instagram {
  border: none;
  height: 45px;
  background-color: transparent;
  z-index: 10;
}
