

.homeBanner {
  position: relative;
  display: flex;
 
  background-color: bisque;
  z-index: -100;
border-radius: 130px;
height: 560px;
  
  margin-top: 7em;
 

  path{
    fill : var(--colorOrange);
    opacity: 95%;
  }
  
}

.bannerImage {
  background-color: aliceblue;
  width: 38em;
  height: 31em;
  position: absolute;
  border-radius: 25px;
  right: 0;
  top: 2em;
  z-index: -1;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 375px) {
  .homeBanner {
    justify-content: center;
    width: 100%;

    align-items: center;
    margin-top: 8em;
  }
}

/* svg path {
  fill: transparent;
  stroke: var(--colorOrange);

  stroke-width: 0.2;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 1.5s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: var(--colorOrange);
    opacity: 100%;
    stroke-dashoffset: 0;
  }
} 
