.carousel {
  animation: scroll 50s linear infinite;
  animation-play-state: paused;
}

.carousel:hover {
  animation-play-state: running;
}

.carousel:hover .carouselTrack {
  animation-play-state: paused;
}

.carouselTrack {
  display: inline-flex;
  justify-content: center;

  animation: scroll 60s linear infinite;
  animation-play-state: running;
  list-style: none;
}

.carouselItems {
  display: inline-flex;
  padding-left: 30px;
  flex-wrap: nowrap;
  width: max-content;
}

.artworkItem {
  width: fit-content;

  margin: 0 1.5rem;
}

img {
  border-radius: 2em;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .carouselTrack {
    justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  img {
    border-radius: 1.5em;
  }

  .artworkItem {
    margin: 0 0.8em;
  }
}
