.mapContainer {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  width: 40em;
}

.adressDetails {
  display: flex;
  z-index: 10;
  gap: 2em;
}

.titleMobile {
  display: none;
  visibility: hidden;
}

.addressText {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (max-width: 700px) {
  .adressDetails {
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;

    h3 {
      font-size: 1.5em;
    }

    .mapContainer {
      aspect-ratio: 1/1;
    }
  }

  .titleMobile {
    display: block;
    visibility: visible;
  }

  .titleDesktop {
    display: none;
    visibility: hidden;
  }
  .mapSection {
    display: block;
    margin-inline: 0em;
    border-radius: 0%;
    padding-top: 1em;
    padding-bottom: 1em;

    padding-left: 0%;
    padding-right: 0%;
    h2 {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
  }
  .mapContainer {
    width: 90%;
    height: 20em;
  }

  .adress {
    font-size: 3em;
  }
}
@media (min-width: 700px) {
  .mapContainer {
    aspect-ratio: 2/1.5;
  }
}
