.masonry-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media (min-width: 640px) {
  .masonry-container {
    margin: 0;
  }
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
  }
}

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

@media (min-width: 640px) {
  .masonry-column {
    gap: 1rem;
  }
}

.masonry-item {
  width: 100%;
}

.masonry-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
