.text-wrapper {
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide any content outside the container */

  display: flex;
  flex-direction: row;
}

.text {
  flex-shrink: 0;

  font-family: "protest strike";
  font-size: clamp(2rem, 5vw, 6rem);

  font-weight: 700;
  color: var(--colorOrange);

  list-style: none;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  to {
    transform: translateX(calc(-100%)); /* End off-screen to the left */
  }
}
