.priceListHeader {
  display: flex;
  margin-left: 2em;
}

.priceListDetails {
  padding-top: 1em;
  font-size: 0.9em;
  color: black;
  background-color: var(--colorOrange);

  border-radius: 13px;
  height: 10em;
  width: 100%;
  overflow: hidden;
}

.priceListDetails p {
  margin: 0;
}

.dropDownPriceListItem {
  display: flex;
  flex-direction: column;

  padding: 1em;
  color: var(--colorOrange);
  font-family: "inter";
  font-size: large;

  border-image: linear-gradient(to right, var(--colorOrange) 0%, #e7a79c 100%) 1;
  border-radius: 3px;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  cursor: pointer;
  background-color: transparent;
}
.priceListHeader path {
  fill: transparent;
  stroke: var(--colorOrange);

  stroke-width: 0.2;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 0.5s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }

  70% {
    fill: transparent;
  }

  100% {
    fill: var(--colorOrange);
    opacity: 100%;
    stroke-dashoffset: 0;
  }
}

.contentContainer {
  margin-left: 4em;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
  display: flex;

  justify-self: center;

  border-radius: 80px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;

  justify-content: center;

  padding: 2rem;
}

.priceListContainer {
  display: flex;
  position: relative;

  height: 20em;

  justify-content: space-between;

  gap: 1em;
}

.priceListCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  background-color: bisque;
  color: var(--colorOrange);
  font-family: "protest strike";

  height: 100%;
  width: 18em;

  border-radius: 30px;

  flex-grow: 1;
  position: absolute;

  justify-content: space-between;
}

@media (max-width: 375px) {
  .contentContainer {
    width: 94%;
    padding-left: 0;
    justify-content: center;
    border-radius: 100px;
  }

  .priceListContainer {
    visibility: hidden;
    display: none;
  }

  .priceListHeader {
    visibility: hidden;
    display: none;
  }
}
@media (min-width: 375px) {
  .dropDownPriceListItem {
    visibility: hidden;
    display: none;
  }
}
