#root {
  height: 100%;
  width: 100%;
  margin: 0;

  text-align: center;
}

.openingDoor {
  width: 100%;
  margin: 0%;
  z-index: 10;
}

.initialLoadLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
