@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swaps");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Strike&display=swap");

:root {
  background-size: 300%;
  animation: bg-animation 4s infinite alternate;

  /* background-color: var(--offWhite); */
  background-color: #e1dddb;

  --offWhite: rgb(248, 242, 233);

  --colorOrange: #e1381b;

  --bkBrown: rgb(80, 35, 20);
  overflow-x: hidden;
  /* color: rgb(79, 66, 66); */
  color: rgb(80, 35, 20);

  h2 {
    font-family: "protest strike";
    margin: 0rem;
    font-size: 6em;
    color: white;
  }

  h3 {
    font-family: "protest strike";
    margin: 0rem;
    font-size: 5em;

    color: var(--colorOrange);
  }
  @media (max-width: 700px) {
    h2 {
      font-size: 3em;
    }
    h3 {
      font-size: 2em;
    }
    p {
      font-size: small;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
ul {
  margin: 0%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

.mapLayoutContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mapContainer {
  position: relative;
  width: 50%;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .priceListItem {
    width: 90%;
  }
  .priceListContainer {
    width: 100%;
  }
  .mapContainer {
    width: 90%;
  }
  .priceListDetails {
    width: 90%;
  }
  :root {
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  font-family: "Nunito Sans";
  font-size: small;
  color: var(--colorOrange);
  font-weight: 700;
  font-size: 4em;
  line-height: 1;
}

.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background-image: linear-gradient(var(--colorOrange) 1%, #ffffff);
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1000;
  opacity: 100%;
}

.sectionHeaders path {
  fill: transparent;
  stroke: var(--colorOrange);

  stroke-width: 0.2;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 0.7s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }

  70% {
    fill: transparent;
  }

  100% {
    fill: var(--colorOrange);
    opacity: 100%;
    stroke-dashoffset: 0;
  }
}
