@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swaps");

@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

:root {
  /* background-image: linear-gradient(45deg, #f0eae0, #f1e1c6, #dbc49b, #e6c792); */
  /* background-image: linear-gradient(45deg, #2e2e2e, #4b4b4b, #1a1a1a, #0d0d0d); */
  /* background-image: linear-gradient(45deg, #ebeadf, #e9e4d6, #f2ddae, #f5d4af); */

  background-size: 300%;
  animation: bg-animation 4s infinite alternate;
  padding-left: 5em;
  padding-right: 5em;

  --colorOrange: #e1381b;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

.mapLayoutContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mapContainer {
  position: relative;
  width: 50%;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .priceListItem {
    width: 90%;
  }
  .priceListContainer {
    width: 100%;
  }
  .mapContainer {
    width: 90%;
  }
  .priceListDetails {
    width: 90%;
  }
  :root {
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  font-family: "Nunito Sans";
  font-size: small;
  color: var(--colorOrange);
  font-weight: 700;
  font-size: 4em;
  line-height: 1;
}

.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  background-image: linear-gradient(var(--colorOrange) 5%, #ffffff);
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -10000;
}
